<head>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#BC8887" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hôn lễ của Khánh và Duyên</title>

  <meta property="og:title" content="Hôn lễ của Khánh và Duyên">
  <meta property="og:description" content="Ngày, 15 Tháng 10 2022 tại tư gia Tây Ninh, Việt Nam">
  <meta property="og:locale" content="id_ID" />
  <meta property="og:image" content="https://kao6.github.io/assets/img/khanh-duyen-wedding-thumbnail.png">
  <meta property="og:url" content="http://kao6.github.io/index.html">
  <meta name="twitter:card" content="summary_large_image">
  <!-- Bulma Version 0.8.x-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-tooltip@0.1.5/dist/bulma-tooltip.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/menikah.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/jquery.countdown.css" />
  <script
    src="https://kit.fontawesome.com/2828f7885a.js"
    integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="assets/js/jquery.coundown.js"></script>
  <link rel="icon" type="image/png" href="assets/img/favicon.png" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JGKQ4D6JNY"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
  <!-- Begin Script for Countdown -->
  <script>
     window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JGKQ4D6JNY');
  </script>
  <!-- Begin Script for Countdown -->

  <!-- Github Button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1045330926136166',
      cookie     : true,
      xfbml      : true,
      version    : 'v15.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> 


<!-- Odometr includes -->
<link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-train-station.css" />
<script src="http://github.hubspot.com/odometer/odometer.js"></script>

<!-- Extra styles for this example -->
<style>
.odometer {
    font-size: 150px;
}
</style>
</head>