---
layout: default
---
<body>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img src="assets/img/favicon.png" alt="Flower" />
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <!-- Begin Hero -->
      <section class="hero is-large">
        <!-- Begin Mobile Nav -->
        <nav class="navbar is-transparent is-hidden-desktop">
          <!-- Begin Burger Menu -->
          <div class="navbar-brand is-fixed-top">
            <div class="navbar-burger burger" data-target="mobile-nav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!-- End Burger Menu -->
          <div id="mobile-nav" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <a class="navbar-item" href="#ngaycuoi">
                  Ngày cưới
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#diachi">
                  Địa chỉ
                </a>
              </div>
              
              <div class="navbar-item">
                <a class="navbar-item" href="#sukien">
                  Sự kiện
                </a>
               <div class="navbar-item">
                <a class="navbar-item" href="#diachinhanghi">
                  Địa chỉ
                </a>
              </div>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#lienlac">
                  Liên lạc
                </a>
              </div>
            </div>
          </div>
        </nav>
        <!-- End Mobile Nav -->
        <!-- Begin Hero Content-->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="subtitle">LỄ THÀNH HÔN</h1>
            <h2 class="title"> Khánh & Duyên</h2>
              <div class="patterns">
                <svg width="100%" height="100%" style="
                background: none;
            ">
               <text class="subtitle tempatngaycuoi pressed" x="50%" y="60%"  text-anchor="middle"  style="font-size:2rem" >
                TÂY NINH
               </text>
               </svg>
              </div>
              <h4 class="subtitle tempatngaycuoi">
                </br>
                Thứ 7, 15 Tháng 10, 2022
                </br>
                {{ page.excerpt }}
                </br>
                Việt Nam
              
            </h4>
          </div>
          <!-- Start Countdown -->       
          <div>
            <ul id="countdown" >
              <li><span class="days">00</span><p class="days_text">ngày</p></li>
              <li class="separator">:</li>
              <li><span class="hours">00</span><p class="hours_text">giờ</p></li>
              <li class="separator">:</li>
              <li><span class="minutes">00</span><p class="minutes_text">phút</p></li>
              <li class="separator">:</li>
              <li><span class="seconds">00</span><p class="seconds_text">giây</p></li>
            </ul>
            <div class="spasi">
            </div>
            <script type="text/javascript">
              var now = new Date();
              var day = now.getDate();
              var month = now.getMonth() + 1;
              var year = now.getFullYear() + 1;
          
              var nextyear = month + '/' + day + '/' + year + ' 07:07:07';
              var targetDate = '10/15/2022 11:00:00';

              $('#countdown').countdown({
                date: targetDate, // TODO Date format: 07/27/2017 17:00:00
                offset: +7, // TODO Your Timezone Offset
                day: 'Ngày',
                days: 'Ngày'
              }, function () {
                alert('Chân thành cám ơn!');
              });
            </script>  
          </div>
          <!-- End Countdown -->
        </div>
        <!-- End Hero Content-->
        <!-- Begin Hero Menu -->
        <div class="hero-foot ">
          <div class="hero-foot--wrapper">
            <div class="columns">
              <div class="column is-12 hero-menu-desktop has-text-centered">
                <ul>
                  <li class="is-active">
                    <a href="#home">Lời ngõ</a>
                  </li>
                  <li>
                    <a href="#ngaycuoi">Ngày cưới</a>
                  </li>
                  <li>
                    <a href="#diachi">Địa Chỉ</a>
                  </li>
                  <li>
                    <a href="#sukien">Sự kiện</a>
                  </li>

                  <li>
                    <a href="#lienlac">Liên lạc</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Menu -->
      </section>
      <!-- End Hero -->
    </div>
    <!-- End Header -->

    <!-- Begin Main Content -->
    <div class="main-content">
    <!-- Begin regular-section-->
     <section class="section-light no-padding-top regular-section has-text-centered has-vertically-aligned-content" id="regular-section">
        
        <div data-aos="fade-up" data-aos-easing="linear">
          <img src="assets/img/bismillah.png" class="bismillah has-text-centered" alt="Bismillahirrahmaanirrahiim">
        </div>

        <p class="bodytext" data-aos="fade-up" data-aos-easing="linear">
            Yêu nhau từ thuở Tinder 
          <br />
            Hai năm xóa app về chung một nhà
        </p>

        <span class="space40px"></span>
        <span class="space40px"></span>

        <div data-aos="fade-up" data-aos-easing="linear">
          <div class="nama-lengkap" >
            Khanh Tran
          </div>
          <div class="ampersand">&</div>
          <div class="nama-lengkap">
            Duyen Doan 
          </div>
           
        </div>
        <span class="space40px"></span>
        <div data-aos="fade-up" data-aos-easing="linear">
          <img src="assets/img/divider-leaves.png" class="divider has-text-centered" alt="~~~">
        </div>
        <span class="space40px"></span>
        <span class="space40px"></span>
      </section>
      <!-- End regular-section-->    
      
      <!-- Begin ngaycuoi Section -->
      <section class="section-dark" id="ngaycuoi">
        <div class="container">

          <div class="column is-12 regular-section" data-aos="fade-up" data-aos-easing="linear">
            <h1 class="title has-text-centered section-title">Ngày cưới</h1>
          </div>
          <div class="columns is-multiline" data-aos="fade-up" data-aos-easing="linear">
            <div
              class="column is-4 has-vertically-aligned-content">
            
              <p class="is-larger has-text-centered">
                  <div class="ngaycuoi tanggal-hari has-text-centered">Ngày</div> 
                  <div class="ngaycuoi tanggal-angka has-text-centered">15</div>
                  <div class="ngaycuoi tanggal-bulan has-text-centered">Tháng 10, 2022</div>
              </p>
            
            </div>
            <div class="column is-4 has-vertically-aligned-content">
              <p class="ngaycuoi is-larger has-text-centered">
                Đón Khách  
                <br>
                <strong>10:30 AM</strong>
              </p>
            
            </div>

            <div class="column is-4 has-vertically-aligned-content">
              
              <h1 class="ngaycuoi is-larger has-text-centered">
                Đãi tiệc
                <br>
                <strong>11:00 AM</strong>
              </h1>
              
              
            </div>

          </div>
        </div>
        <div class="space40px"></div>
        <div class="main-content has-text-centered" data-aos="fade-up" data-aos-easing="linear">
          <a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=%F0%9F%92%8DL%E1%BB%85%20Th%C3%A0nh%20H%C3%B4n%20Kh%C3%A1nh%20v%C3%A0%20Duy%C3%AAn&dates=20221015T033000Z/20221015T93000Z&details=www.khanhduyen.online&location=83CJ+W9,%20Ph%C6%B0%E1%BB%9Dng%201,%20T%C3%A2y%20Ninh,%20Vietnam" target="_blank" class="button has-tooltip btn-cta" data-tooltip="Add to Calendar" target="_blank" data-aos="zoom-in">
            <i class="far fa-calendar-plus"></i>
            &nbsp;&nbsp;Google Calendar
          </a>
        </div>
      </section>
      <!-- End ngaycuoi Content -->

      <!-- Begin diachi Section -->
      <section class="section-darker" id="diachi" >
        <div class="container">
          <div class="column is-12 regular-section" data-aos="fade-up" data-aos-easing="linear">
            <h1 class="title has-text-centered section-title">Địa Chỉ Tiệc Cưới</h1>
            <p class="tempat is-larger has-text-centered">
              <strong>Tĩnh gia Vườn Xưa, Gần Quán Cafe Hẻm Phường 1</strong>
              <br>
              Thành Phố, Tây Ninh
              <br>
            </p>
          </div>
          
          <div class="section-map" data-aos="fade-up" data-aos-easing="linear">
            <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=H%E1%BA%BBm+Coffee,+Ph%C6%B0%E1%BB%9Dng+1,+T%C3%A2y+Ninh&amp;t&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure distance on map</a></iframe>
          </div>
          <div class="space40px"></div>
          <div class="has-text-centered" data-aos="fade-up" data-aos-easing="linear">
            <a href="https://www.google.com/maps/dir//H%E1%BA%BBm+Coffee,+Ph%C6%B0%E1%BB%9Dng+1,+T%C3%A2y+Ninh/@10.3665779,105.5938267,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x310b6b449ee3de7f:0x736fba21f3ddd0e0!2m2!1d106.0808861!2d11.322347?hl=en" class="button btn-cta" target="_blank" data-aos="zoom-in">
              <i class="far fa-directions"></i>
              &nbsp;&nbsp;Google Maps
            </a>
          </div>
        </div>
      </section>
      <!-- End diachi Content -->

      <!-- Begin Tentang Khanh and Duyen -->
      <section class="section-light regular-section is-fullheight" id="sukien">
        <div class="container">
          <div class="columns is-multiline">  
          <div class="column has-text-centered is-12 prolog">
            <h1 class="title has-text-centered section-title" data-aos="fade-up" data-aos-easing="linear">Gallery</h1>
            

          
          <!-- IMAGES -->  
        <div class=" tile">
          <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child foto1 notification foto1" data-aos="fade-up" data-aos-easing="linear">
              <div class="content">
                <p class="title-foto">November 2021</p>
                <p class="subtitle-foto">
                  ngày đầu gặp mặt <a href="https://cashbac.com" target="_blank">Cashbac</a>
                </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification foto2" data-aos="fade-up" data-aos-easing="linear">
              <div class="content">
                <p class="title-foto">
                  Desember 2018 - Februari 2019
                </p>
                <p class="subtitle-foto">
                 ngày 2 gặp
                </p>   
              </div>            
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification foto3" data-aos="fade-up" data-aos-easing="linear">
              <div class="content">  
                <p class="title-foto">
                  Tháng 2019
                </p>
                <p class="subtitle-foto">
                  ngày 3 gặp
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="space24px"></div>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification foto6" data-aos="fade-up" data-aos-easing="linear">
            <div class="content">
              <p class="title-foto">Juni 2019</p>
              <p class="subtitle-foto">Ngày 4</p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification foto4" data-aos="fade-up" data-aos-easing="linear">
            <div class="content">
              <p class="title-foto">Desember 2019</p>
              <p class="subtitle-foto">Ngày 5</p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">              
          <article class="tile is-child notification foto5" data-aos="fade-up" data-aos-easing="linear">
            <div class="content">
              <p class="title-foto">Tháng 2020</p>
              <p class="subtitle-foto">Ngày cưới</p>
            </div>
          </article>
        </div>
      </div>   
          <!-- IMAGES -->
          <div class="space40px"></div>
            <div data-aos="fade-up" data-aos-easing="linear">
              <img src="assets/img/divider-leaves.png" class="divider has-vertically-align" alt="~~~">
            </div> 
            <div class="space40px"></div>
            <div class="space40px"></div>

          </div>
        </div>
      </section>
      <!-- End Tentang Khanh dan Duyen -->

       <!-- Begin diachi KS Section -->
      <section class="section-darker" id="diachinhanghi" >
        <div class="container">
          <div class="column is-12 regular-section" data-aos="fade-up" data-aos-easing="linear">
            <h1 class="title has-text-centered section-title">Dành cho bạn chú rể ở xa</h1>
            <p class="tempat is-larger has-text-centered">
              <strong>Dựa vào danh sách đăng kí số lượng quý khách đã được đặt phòng tại</strong>
              <br>
              NHÀ NGHỈ CAO CẤP DIỂM HƯƠNG, SN100 - Đường Số 8 - QL 22B - KP3 - P1 - TP Tây Ninh
              <br>
              (Cách Cầu Quan 1km hướng về Thị Trấn Châu Thành)
              <br>
              Điện Thoại: 0938 260 725
              <br>
            </p>
          </div>
          <div class="space40px"></div>
          <div class="has-text-centered" data-aos="fade-up" data-aos-easing="linear">
            <a href="https://www.google.com/maps/dir//83FH%2B26+T%C3%A2y+Ninh/@11.3249042,106.0758761,16.54z/data=!4m8!4m7!1m0!1m5!1m1!1s0x0:0xf4d40ecdf43951b8!2m2!1d106.0783904!2d11.3224722?hl=en" class="button btn-cta" target="_blank" data-aos="zoom-in">
              <i class="far fa-directions"></i>
              &nbsp;&nbsp;Google Maps
            </a>
          </div>
        </div>
      </section>

      <!-- Begin MENU -->
      <section class="section-light regular-section is-fullheight" id="sukien">
        <div class="container">
          <div class="columns is-multiline">  
          <div class="column has-text-centered is-12 prolog">
            <h1 class="title has-text-centered section-title" data-aos="fade-up" data-aos-easing="linear">Thực đơn</h1>
            
          <!-- IMAGES -->  
        <div class=" tile">
          <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child foto11 notification " data-aos="fade-up" data-aos-easing="linear">
              <div class="content">
                <p class="title-foto">November 2021</p>
                <p class="subtitle-foto">
                  ngày đầu gặp mặt <a href="https://cashbac.com" target="_blank">Cashbac</a>
                </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification foto12" data-aos="fade-up" data-aos-easing="linear">
              <div class="content">
                <p class="title-foto">
                  Desember 2018 - Februari 2019
                </p>
                <p class="subtitle-foto">
                 ngày 2 gặp
                </p>   
              </div>            
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification foto13" data-aos="fade-up" data-aos-easing="linear">
              <div class="content">  
                <p class="title-foto">
                  Tháng 2019
                </p>
                <p class="subtitle-foto">
                  ngày 3 gặp
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="space24px"></div>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification foto14" data-aos="fade-up" data-aos-easing="linear">
            <div class="content">
              <p class="title-foto">Juni 2019</p>
              <p class="subtitle-foto">Ngày 4</p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification foto15" data-aos="fade-up" data-aos-easing="linear">
            <div class="content">
              <p class="title-foto">Desember 2019</p>
              <p class="subtitle-foto">Ngày 5</p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">              
          <article class="tile is-child notification foto16" data-aos="fade-up" data-aos-easing="linear">
            <div class="content">
              <p class="title-foto">Tháng 2020</p>
              <p class="subtitle-foto">Ngày cưới</p>
            </div>
          </article>
        </div>
      </div>   
          <!-- IMAGES -->
          <div class="space40px"></div>
            <div data-aos="fade-up" data-aos-easing="linear">
              <img src="assets/img/divider-leaves.png" class="divider has-vertically-align" alt="~~~">
            </div> 
            <div class="space40px"></div>
            <div class="space40px"></div>

          </div>
        </div>
      </section>
      <!-- End MENU -->

      <!-- Begin lienlac Content -->
      <section class="section-dark contact" id="lienlac">
        <div class="container">
          <div class="columns is-multiline">          
            <div class="column is-12 prolog">
              <h1 class="title has-text-centered section-title" data-aos="fade-up" data-aos-easing="linear">Xin trân trọng cám ơn</h1>
            </div>
            <div class="column is-12 prolog has-text-centered" data-aos="fade-up" data-aos-easing="linear">
              <p class="h2 subtitle">
                <br>
                Sự hiện diện của quý khách là vinh hạnh của chúng tôi
                  <br>
                  là vinh hạnh của chúng tôi
                </p>
     
              <a href="https://api.whatsapp.com/send?phone=628xxxxxxxxxx&text=Halo%20Khanh,%20saya%20akan%20datang%20di%20acara%20pernikahan&source=&data=" class="button btn-whatsapp" target="_blank" data-aos="zoom-in">
                <i class="fab fa-whatsapp"></i>
                &nbsp;&nbsp;Khánh Trần
              </a>
          
              <a href="https://api.whatsapp.com/send?phone=628xxxxxxxxxx&text=Halo%20Duyen,%20saya%20akan%20datang%20di%20acara%20pernikahan&source=&data=" class="button btn-whatsapp" target="_blank" data-aos="zoom-in">
                <i class="fab fa-whatsapp"></i>
                &nbsp;&nbsp; Duyên Đoàn
              </a >
              <div class="space40px"></div>

              <div class="space40px"></div>
              <div data-aos="fade-up" data-aos-easing="linear">
                <img src="assets/img/divider-leaves.png" class="divider has-text-centered" alt="~~~">
              </div>
              <div class="space40px"></div>
              <p class="h2 subtitle" data-aos="fade-up" data-aos-easing="linear">
                Về chúng tôi
                <br>
                <a class="instagram":" href="https://instagram.com/davidchen53" target="_blank" alt="Instagram Khanh">
                  <i class="fab fa-instagram"></i> @khanhtran
                </a>
                &nbsp
                <a class="instagram" href="https://instagram.com/duyendd" target="_blank" alt="Instagram Duyen">
                  <i class="fab fa-instagram"></i> @duyen
                </a>
              </p>

            </div>
 
         </div>
        </div>
      </section>
      <!-- End lienlac Content -->
    </div>
    <!-- End Main Content -->

    <!-- Begin Footer -->
    <div class="footer">
      <div class="container">
        <a href="https://github.com/duyendoan/Duyen-Khanh-menikah" class="has-vertically-align">
          <p class="has-vertically-align">2022 @ design by kaoengine</p>
        </a>
        <a href="https://bulma.io" class="has-vertically-align">
          <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma">
        </a>
      </div>
    </div>
    <!-- End Footer -->
    <!-- <embed src="/assets/music/music.mp3" width="180" height="90" loop="false" autostart="false" hidden="true" /> -->

    <div id="player">
      <audio autoplay hidden>
      <source src="/assets/music/music.mp3" type="audio/mpeg">
                  If you're reading this, audio isn't supported. 
      </audio>
    </div>
    
    <!-- <audio controls=""><source src="/assets/music/music.mp3" type="audio/mpeg"></audio> -->
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/menikah.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>

